@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    # OrderEase Privacy Policy

    If you have any questions or concerns about this Privacy Policy, please [contact us](mailto:privacy@orderease.com).

    Thank you for using OrderEase.
</p>
